{% extends "index.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-6">
      <h3 class="page-title"><span class="page-number">01.</span> &nbsp; About Me </h3>
      <p class="about-text"> Hello! My name is Jacob Lebowitz. I am a software engineer who loves to use data to solve business problems. I like to believe that I have three main purposes in life. Those three being to make an impact on
        sustainability, standing up for what is right no matter what, and to bring out the best out of everyone I meet.</p>
      <p class="about-text"> I'm currently obtaining my B.S. in Computer Science at Kent State University along with working as an Undergraduate Researcher working on building knowledge structures within a text. </p>
      <br>
      <p class="about-text"> Here are a few technologies I've been working with recently: <p>
          <ul style="list-style-type:square;">
            <li class="about-list">
              Python
            </li>
            <li class="about-list">
              Pandas
            </li>
            <li class="about-list">
              Scikit-Learn
            </li>
            <li class="about-list">
              Matplotlib & Seaborn
            </li>
            <li class="about-list">
              SQL
            </li>
            <li class="about-list">
              C++
            </li>
          </ul>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="container">
        <div style="text-align: right; margin: 0px 50px 15px 0px; margin-top: 150px;">
          <img src="static/images/profile.jpeg" alt="Avatar" class="avatar zoom">
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
