{% extends "index.html" %}

{% block body %}

<div class="container">
  <br> <br> <br> <br> <br> <br>
  <p class="text-center" style="color:#64ffda;font-family:SFMono;"> 04. What's Next? </p>
  <p class="text-center" style="color:#e6f1ff; font-family:Calibre-Semibold; font-size:350%;"> Get In Touch </p>
  <div class="col-10 centered ">
  <p class="text-center" style="color:#a8b2d1; font-family:SFMono;"> Please feel free to reach out whether for a potential oppurtunity
    or just to say hi. Down below are also links to my blog which is coming soon and all my socal platforms!</p>
  </div>
  <br>
  <div class="text-center">
    <a href="https://twitter.com/_lookitsjacob"><img src="static/images/twitter.svg" height="50" width="50" class=logo style="margin-right: 8px;"></a>
    <a href="https://github.com/AugmentedMode"><img src="static/images/octocat.svg" height="50" width="50" class=logo style="margin-right: 10px;"></a>
    <a href="https://www.linkedin.com/in/jacoblebowitz17/"><img src="static/images/linkedin1.svg" height="46" width="48" class=logo style="margin-right: 10px;"></a>
    <a href="/blog"><img src="static/images/blog.svg" height="48" width="50" class=logo style="margin-right: 10px;"></a>

  </div>
  <br>
  <br>
  <form method="post" action="mailto:jlebowi1@kent.edu" style="text-align: center; ">
    <input style="font-size:120%;"type="submit" class="btn btn-primary background white boarder" value="Say Hello" />
  </form>
  <br><br>
</div>

{% endblock %}
