{% extends "index.html" %}

{% block body %}

<div class="container">
<br> <br> <br> <br> <br> <br>
<p class="text-center" style="color:#64ffda;font-family:SFMono;"> 04. What's Next? </p>
<p class="text-center" style="color:#e6f1ff; font-family:Calibre-Semibold; font-size:350%;"> Get In Touch </p>
<p class="text-center" style="color:#a8b2d1; font-family:SFMono;"> Although I have currently acccepted an offer as a software <br> engineering intern @ JPMorgan Chase for summer 2020, my inbox is always open. <br>Whether for a potential oppurtunity or just to say hi, I'll try my best to answer your email!</p>
<br>
<form method="post" action="mailto:jlebowi1@kent.edu" style="text-align: center;">
  <input type="submit" class="btn btn-primary background white boarder" type="submit" value="Say Hello" />
</form>
</div>

{% endblock %}
