{% extends "index.html" %}
{% block body %}


<div class="container">
  <br> <br> <br>
  <h3 class="text-center" style="color:#e6f1ff;font-family:Calibre-Semibold;"><span style="font-family:SFMono;color: #64ffda;font-size:70%;">02.</span> &nbsp; Where I've Worked </h3>
  <br><br>
<div class="row">
<div class="col">
<h6 style="color:#ccd6f6;font-family:Calibre-Semibold;font-size:120%;"> Undergraduate Researcher @ <span style='color: #64ffda;'>Kent State University</span></h6>
<p style="color:#8892b0; font-family:SFMono;font-size:90%;"> Sep 2019 - Present </p>
<ul style="list-style-type:square;">
  <li style="color:#a8b2d1;font-family:SFMono;font-size:90%;">
    Currently working on a web-based research tool to capture, visually represent, and compare the knowledge structure within a text to identify a learner's misconceptions
  </li>

</ul>
</div>
<div class="col">
<h6 style="color:#ccd6f6;font-family:Calibre-Semibold;font-size:120%;"> Service & Repair Center Student Leader @ <span style='color: #64ffda;'>Kent State University</span></h6>
<p style="color:#8892b0; font-family:SFMono;font-size:90%;"> May 2018 - Sep 2019 </p>
<ul style="list-style-type:square;">
  <li style="color:#a8b2d1;font-family:SFMono;font-size:90%;">
    Overseed the entire student team ensuring promptness and quality in their customer service and technical troubleshooting
  </li>

</ul>
</div>
</div>
<br>
<div class="row">
<div class="col">
<h6 style="color:#ccd6f6;font-family:Calibre-Semibold;font-size:120%;"> Machine Learing IT Intern @ <span style='color: #64ffda;'>Rockwell Automation</span></h6>
<p style="color:#8892b0; font-family:SFMono;font-size:90%;"> May 2019 - Aug 2019 </p>
<ul style="list-style-type:square;">
  <li style="color:#a8b2d1;font-family:SFMono;font-size:90%;">
    Used NLP to cluster all internal IT support tickets to highlight top call drivers and gain insights into root causes, relieving unplanned work
  </li>
  <br>
  <li style="color:#a8b2d1;font-family:SFMono;font-size:90%;">
    Achieved material impact using data to illustrate process gaps which led to reducing company expenditures in excess of a million dollars
  </li>

</ul>
</div>
<div class="col">
<h6 style="color:#ccd6f6;font-family:Calibre-Semibold;font-size:120%;"> Front End Manager @ <span style='color: #64ffda;'>Micro Center</span></h6>
<p style="color:#8892b0; font-family:SFMono;font-size:90%;"> May 2017 - Apr 2018 </p>
<ul style="list-style-type:square;">
  <li style="color:#a8b2d1;font-family:SFMono;font-size:90%;">
    Interviewed, hired, trained, coached and evaluated the performance of hourly front end associates
  </li>
  <br>
  <li style="color:#a8b2d1;font-family:SFMono;font-size:90%;">
    Resolved financial as well as internal/external customer relation problems throughout department daily
  </li>

</ul>
</div>
</div>
</div>

{% endblock %}
