{% extends "index.html" %}
{% block body %}


<div class="container">
  <h3 class="text-center page-title"><span class="page-number">02.</span> &nbsp; Where I've Worked </h3>
  <br>
  <div class="row">
    <div class="col-sm">
      <h6 class="job-position"> Undergraduate Researcher @ <span class='job-name'>Kent State University</span></h6>
      <p class="job-dates"> Sep 2019 - Present </p>
      <ul style="list-style-type:square;">
        <li class="job-desc">
          Currently working on a web-based research tool to capture, visually represent, and compare the knowledge structure within a text to identify a learner's misconceptions
        </li>

      </ul>
    </div>
    <div class="col-sm">
      <h6 class="job-position"> Service & Repair Center Student Leader @ <span class='job-name'>Kent State University</span></h6>
      <p class="job-dates"> May 2018 - Sep 2019 </p>
      <ul style="list-style-type:square;">
        <li class="job-desc">
          Overseed the entire student team ensuring promptness and quality in their customer service and technical troubleshooting
        </li>

      </ul>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm">
      <h6 class="job-position"> Machine Learning IT Intern @ <span class='job-name'>Rockwell Automation</span></h6>
      <p class="job-dates"> May 2019 - Aug 2019 </p>
      <ul style="list-style-type:square;">
        <li class="job-desc">
          Used NLP to cluster all internal IT support tickets to highlight top call drivers and gain insights into root causes, relieving unplanned work
        </li>
        <br>
        <li class="job-desc">
          Achieved material impact using data to illustrate process gaps which led to reducing company expenditures in excess of a million dollars
        </li>

      </ul>
    </div>
    <div class="col-sm">
      <h6 class="job-position"> Front End Manager @ <span class='job-name'>Micro Center</span></h6>
      <p class="job-dates"> May 2017 - Apr 2018 </p>
      <ul style="list-style-type:square;">
        <li class="job-desc">
          Interviewed, hired, trained, coached and evaluated the performance of hourly front end associates
        </li>
        <br>
        <li class="job-desc">
          Resolved financial as well as internal/external customer relation problems throughout department daily
        </li>

      </ul>
    </div>
  </div>
</div>

{% endblock %}
