{% extends "index.html" %}

{% block body %}
<div class="container">

  <p class="home-hello"> Hi, my name is </p>
  <h1 class="home-name"> Jacob Lebowitz. </h1>
  <h1 class="home-intro"> I use data to solve business problems. </h1>
  <div class="col-sm-12 col-md-6">
  <p class="home-text"> I'm a software engineer studying computer science at Kent State University specializing in AI/ML to use data to solve the hardest (and most fun) business problems.
  </div>
    <form method="post" action="mailto:jlebowi1@kent.edu">
      <input type="submit" class="btn btn-primary background white boarder" type="submit" value="Get In Touch" />
    </form>
  <br><br>
</div>

{% endblock %}
