{% extends "index.html" %}

{% block body %}

  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <p style="color:#64ffda; font-family:SFMono;"> Hi, my name is </p>
    <h1 style="color:#e6f1ff; font-family:Calibre-Semibold; font-size:500%;"> Jacob Lebowitz. </h1>
    <h1 style="color:#a8b2d1; font-family:Calibre-Semibold;font-size:400%;"> I use data to solve business problems. </h1>
    <br>
    <p style="color:#a8b2d1; font-family:SFMono;"> I'm a software engineer studying computer science <br>at Kent State University specializing in AI/ML to use data to <br>solve the hardest (and most fun) business problems.
    <br>
    <br>
    <br>
    <form method="post" action="mailto:jlebowi1@kent.edu" >
        <input type="submit" class="btn btn-primary background white boarder" type="submit" value="Get In Touch" />
      </form>
    </div>
  {% endblock %}
