{% extends "index.html" %}

{% block body %}
<div class="container">
  <br> <br>
  <h3 class="text-center" style="color:#e6f1ff;font-family:Calibre-Semibold;"><span style="font-family:SFMono;color: #64ffda;font-size:70%;">03.</span> &nbsp; Some Things I've Built </h3>
  <br><br>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem; background-color:#172a45;">
        <div class="card-body">
          <div class="row">
          <div class="col">
          <img src="static/images/new-folder.png" height="60" width="60">
        </div>
        <div class="col">
          <div id="content">
            <img src="static/images/github.svg" height="35" width="35" class="ribbon" />
          </div>
        </div>
        </div>
          <br>
          <h5 class="card-title" style="color:#ccd6f6;">Lyft Data Challange</h5>
          <p class="card-text" style="color:#a8b2d1">Recommended a driver’s lifetime value by developing predictive models and statistical analysis</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; background-color:#172a45;">
        <div class="card-body">
          <div class="row">
          <div class="col">
          <img src="static/images/new-folder.png" height="60" width="60">
        </div>
        <div class="col">
          <div id="content">
            <img src="static/images/github.svg" height="35" width="35" class="ribbon" />
          </div>
        </div>
        </div>
          <br>
          <h5 class="card-title" style="color:#ccd6f6;">Literature Library Chatbot</h5>
          <p class="card-text" style="color:#a8b2d1">Led a team of 7 to create a chatbot for Rockwell’s Student Innovation challenge</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; background-color:#172a45;">
        <div class="card-body">
          <div class="row">
          <div class="col">
          <img src="static/images/new-folder.png" height="60" width="60">
        </div>
        <div class="col">
          <div id="content">
            <img src="static/images/github.svg" height="35" width="35" class="ribbon" />
          </div>
        </div>
        </div>
          <br>
          <h5 class="card-title" style="color:#ccd6f6;">Cube Learning</h5>
          <p class="card-text" style="color:#a8b2d1">Created a self-solving 2x2 Rubik’s cube using a type of reinforcement learning called Q-learning</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>

  </div>
  <br>
  <br>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem; background-color:#172a45;">
        <div class="card-body">
          <div class="row">
          <div class="col">
          <img src="static/images/new-folder.png" height="60" width="60">
        </div>
        <div class="col">
          <div id="content">
            <img src="static/images/github.svg" height="35" width="35" class="ribbon" />
          </div>
        </div>
        </div>
          <br>
          <h5 class="card-title" style="color:#ccd6f6;">Rhythmic Learning</h5>
          <p class="card-text" style="color:#a8b2d1">Built a web app that generates a rhyming rap from any topic to make learning more easily digestible</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; background-color:#172a45;">
        <div class="card-body">
          <div class="row">
          <div class="col">
          <img src="static/images/new-folder.png" height="60" width="60">
        </div>
        <div class="col">
          <div id="content">
            <img src="static/images/github.svg" height="35" width="35" class="ribbon" />
          </div>
        </div>
        </div>
          <br>
          <h5 class="card-title" style="color:#ccd6f6;">Energy Management Tool</h5>
          <p class="card-text" style="color:#a8b2d1">Built a web app to display real-time predictions for peak energy demand</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; background-color:#172a45;">
        <div class="card-body">
          <div class="row">
          <div class="col">
          <img src="static/images/new-folder.png" height="60" width="60">
        </div>
        <div class="col">
          <div id="content">
            <img src="static/images/github.svg" height="35" width="35" class="ribbon" />
          </div>
        </div>
        </div>
          <br>
          <h5 class="card-title" style="color:#ccd6f6;">Data-4-Dummies</h5>
          <p class="card-text" style="color:#a8b2d1"> Currently building a web app that allows users to upload data to receive high & low-level insights</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
