{% extends "index.html" %}

{% block body %}
<div class="container">
  <br> <br> <br>
  <h3 class="text-center" style="color:#e6f1ff;font-family:Calibre-Semibold;"><span style="font-family:SFMono;color: #64ffda;font-size:70%;">03.</span> &nbsp; Some Things I've Built </h3>
  <br><br>
<div class="row">
<div class="col">
  <div class="card" style="width: 18rem; background-color:#172a45;">
    <div class="card-body">
      <img src="static/images/new-folder.png" height="60" width="60">
      <br>
      <br>
      <h5 class="card-title" style="color:#ccd6f6;">Lyft Data Challange</h5>
      <p class="card-text" style="color:#a8b2d1">Recommended a driver’s lifetime value by developing predictive models and statistical analysis</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>
<div class="col">
  <div class="card" style="width: 18rem; background-color:#172a45;">
    <div class="card-body">
      <img src="static/images/new-folder.png" height="60" width="60">
      <br>
      <br>
      <h5 class="card-title" style="color:#ccd6f6;">Lyft Data Challange</h5>
      <p class="card-text" style="color:#a8b2d1">Recommended a driver’s lifetime value by developing predictive models and statistical analysis</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>
<div class="col">
  <div class="card" style="width: 18rem; background-color:#172a45;">
    <div class="card-body">
      <img src="static/images/new-folder.png" height="60" width="60">
      <br>
      <br>
      <h5 class="card-title" style="color:#ccd6f6;">Lyft Data Challange</h5>
      <p class="card-text" style="color:#a8b2d1">Recommended a driver’s lifetime value by developing predictive models and statistical analysis</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>

</div>
<br>
<br>
<div class="row">
<div class="col">
  <div class="card" style="width: 18rem; background-color:#172a45;">
    <div class="card-body">
      <img src="static/images/new-folder.png" height="60" width="60">
      <br>
      <br>
      <h5 class="card-title" style="color:#ccd6f6;">Lyft Data Challange</h5>
      <p class="card-text" style="color:#a8b2d1">Recommended a driver’s lifetime value by developing predictive models and statistical analysis</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>
<div class="col">
  <div class="card" style="width: 18rem; background-color:#172a45;">
    <div class="card-body">
      <img src="static/images/new-folder.png" height="60" width="60">
      <br>
      <br>
      <h5 class="card-title" style="color:#ccd6f6;">Lyft Data Challange</h5>
      <p class="card-text" style="color:#a8b2d1">Recommended a driver’s lifetime value by developing predictive models and statistical analysis</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>
<div class="col">
  <div class="card" style="width: 18rem; background-color:#172a45;">
    <div class="card-body">
      <img src="static/images/new-folder.png" height="60" width="60">
      <br>
      <br>
      <h5 class="card-title" style="color:#ccd6f6;">Lyft Data Challange</h5>
      <p class="card-text" style="color:#a8b2d1">Recommended a driver’s lifetime value by developing predictive models and statistical analysis</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>

</div>
</div>
{% endblock %}
